<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Her Haven Map</title>
        
        <link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'>
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    </head>
    <body class="body">
        <nav class="navbar">
            <h1 class="navbar_title">Her Haven Maps <h6 class="navbar_country_title">Country, city</h6></h1>

            <div class="navbar_profile">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle navbar_profile_icon" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
                
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill navbar_profile_drop_icon" viewBox="0 0 16 16">
                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                </svg>
            </div>
        </nav>

        <div class="main_part">

        </div>

        <scirpt></scirpt>
    </body>
</html>