.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #D4D4D4;
    box-shadow: 0px 5px 25px hsla(0, 0%, 0%, 0.341);
    align-items: center;
    display: flex;
    z-index: 10;
}

.navbar_title {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0;
    font-size: 2.5vw;
    font-family: "Itim";
    font-weight: bold;
    margin-left: 3.5vw;
}

.navbar_country_title {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0;
    font-size: 1.5vw;
    font-family: "Itim";
    font-weight: bold;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    color: gray;
}

.navbar_profile {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3.5vw;
    width: max-content;
    height: max-content;
}

.navbar_profile_icon {
    position: relative;
    top: 0;
    left: 0;
    width: 2.2vw;
    height: 2.2vw;
    padding: 0;
    margin: 0;
    margin-right: 10px;
}

.navbar_profile_drop_icon {
    position: relative;
    top: 0;
    left: 0;
    width: 1.4vw;
    height: 1.4vw;
    padding: 0;
    margin: 0;
    margin-bottom: 2.5px;
}

.main_part {
    position: fixed;
    top: 100px;
    left: 0px;
    width: 100vw;
    height: calc(100vh - 100px);
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    top: 100px;
    left: 0px;
    width: 100px;
    height: calc(100vh - 120px);
    padding-top: 20px;
    background-color: #CBCBCB;
    box-shadow: 2px 5px 25px rgba(0, 0, 0, 0.256);
    overflow-y: auto;
}

.search {
    position: fixed;
    top: 100px;
    left: 100px;
    width: 300px;
    height: calc(100vh - 120px);
    padding-top: 20px;
    background-color: #E7E7E7;
    box-shadow: 2px 5px 25px rgba(0, 0, 0, 0.256);
    overflow-y: auto;

}

.navigations {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 5px;
}

.navigations_icons {
    position: relative;
    top: 0;
    left: calc((100% - 2.2vw) / 2);
    width: 2.2vw;
    height: 2.2vw;
}

.navigations_text {
    position: relative;
    top: -4px;
    left: 0;
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    font-family: "Itim";
    font-size: 1.3vw;
    font-weight: bold;
}

.search_field {
    position: relative;
    top: 0;
    left: 10%;
    width: 80%;
    height: max-content;
    border: 2px #949494 solid;
    border-radius: 0.6vw;
    background-color: #EFEFEF;
    color: black;
    font-size: 2vw;
    font-family: "Itim";
    font-weight: bold;
    outline: none;
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0;
    margin-top: 10px;
}

.search_tags {
    position: relative;
    left: 10%;
    width: 80%; 
    height: 60px;
    margin-top: 10px;
    
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;

    scrollbar-width: thin;
    -ms-overflow-style: none;
}

.search_tag {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    margin: 0;
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 1vw;
    font-size: 1.5vw;
    font-family: "Itim";
    font-weight: bold;
    background-color: #EFEFEF;
    color: #949494;
    outline: none;
    border: 1px solid #6C6C6C;
    display: inline-block;
    margin-right: 5px;
}

.searched_title {
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    margin: 0;
    padding: 0;
    margin-left: 10%;
    margin-top: 10px;
    font-size: 2vw;
    font-family: "Itim";
    font-weight: bold;
}

.searched_place_div {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.sp_name {
    position: relative;
    top: 4px;
    left: 0;
    width: 55%;
    height: 40px;
    margin: 0;
    padding: 0;
    margin-left: 10%;
    font-size: 1.8vw;
    font-family: "Itim";
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sp_open {
    position: absolute;
    top: 4px;
    right: 0;
    width: 15%;
    margin: 0;
    padding: 7px;
    background-color: lime;
    margin-right: 10%;
    font-size: 1.5vw;
    font-family: "Itim";
    font-weight: bold;
    border-radius: 1.5vw;
    color: white;
}

.sp_street {
    position: relative;
    top: -8px;
    left: 0;
    width: 80%;
    height: 40px;
    margin: 0;
    padding: 0;
    margin-left: 10%;
    font-size: 1.6vw;
    font-family: "Itim";
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #949494;
}

.sp_line {
    position: relative;
    top: -8px;
    left: 0;
    width: 80%;
    margin-left: 10%;
    border: #6C6C6C 2px solid;
    padding: 0;

}

.map {
    position: fixed;
    left: 400px;
    width: calc(100vw - 400px);
    height: calc(100vh - 100px);
}






/* scrollbar settings */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}