{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Her Haven Map</title>
        
        <link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
    </head>
    <body class="body">
        <!-- navbar -->

        <nav class="navbar">
            <h1 class="navbar_title">Her Haven Maps <h6 class="navbar_country_title">Country, city</h6></h1>
            
            <div class="navbar_profile">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle navbar_profile_icon" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
                
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill navbar_profile_drop_icon" viewBox="0 0 16 16">
                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                </svg>
            </div>
        </nav>

        <!-- everything is in here, but navbar -->

        <div class="main_part">
            <div class="sidebar">
                <div class="burgermenu" id="burgermenu">
                    <span class="span span1" id="span1"></span>
                    <span class="span span2" id="span2"></span>
                    <span class="span span3" id="span3"></span>
                </div>

                <div class="navigations">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house navigations_icons" viewBox="0 0 16 16">
                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                    </svg>

                    <h3 class="navigations_text">Home</h3>
                </div>

                <div class="navigations">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star navigations_icons" viewBox="0 0 16 16">
                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                    </svg>

                    <h3 class="navigations_text">Ratings</h3>
                </div>

                <div class="navigations">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart navigations_icons" viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                    </svg>

                    <h3 class="navigations_text">Favorites</h3>
                </div>
            </div>

            <div class="search" id="search">
                <input class="search_field" name="search_field" type="search" placeholder="Search">

                <div class="search_tags">
                    <select class="search_tag">
                        <option>Security</option>
                    </select>

                    <select class="search_tag">
                        <option>City</option>
                    </select>

                    <select class="search_tag">
                        <option>Rating</option>
                    </select>

                    <select class="search_tag">
                        <option>State</option>
                    </select>

                    <select class="search_tag">
                        <option>Country</option>
                    </select>
                </div>

                <h1 class="searched_title">Places found(0)</h1>

                <div class="searched_place_div">
                    <h1 class="sp_name">Place name here</h1>
                    <div class="sp_open">Open</div>
                    <h1 class="sp_street">Stree name here</h1>
                    <hr class="sp_line">
                </div>

                <div class="searched_place_div">
                    <h1 class="sp_name">Place name here</h1>
                    <div class="sp_close">Close</div>
                    <h1 class="sp_street">Stree name here</h1>
                    <hr class="sp_line">
                </div>

                <div class="searched_place_div">
                    <h1 class="sp_name">Place name here</h1>
                    <div class="sp_open">Open</div>
                    <h1 class="sp_street">Stree name here</h1>
                    <hr class="sp_line">
                </div>

                <div class="searched_place_div">
                    <h1 class="sp_name">Place name here</h1>
                    <div class="sp_open">Open</div>
                    <h1 class="sp_street">Stree name here</h1>
                    <hr class="sp_line">
                </div>

                <div class="searched_place_div">
                    <h1 class="sp_name">Place name here</h1>
                    <div class="sp_open">Open</div>
                    <h1 class="sp_street">Stree name here</h1>
                    <hr class="sp_line">
                </div>
            </div>

            <div class="map" id="map"></div>
        </div>



        <script src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js'></script>
        <script src="{% static 'js/index.js' %}"></script>
        <script>
            // Mapbox access token
            mapboxgl.accessToken = 'pk.eyJ1IjoiaWFqYWlhbmkiLCJhIjoiY20yNmlwM3UwMTQyZzJrc2R3anJyNWxtbyJ9.FEmpcyUrij-5j8VVlJwXzg'; // Replace with your Mapbox access token
    
            const map = new mapboxgl.Map({
                container: 'map', // Container ID
                style: 'mapbox://styles/mapbox/streets-v12', // Map style to use
                center: [41.6369, 41.6168], // Starting position [lng, lat] (Batumi, Georgia)
                zoom: 13 // Starting zoom level
            });
        </script>
    </body>
</html>