{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>

        <link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'>
        <link href="{% static 'css/sign.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="part1">
            <img class="sign_img" src="https://img.freepik.com/free-photo/portrait-young-woman-browsing-mobile-phone_23-2148597701.jpg?t=st=1728802579~exp=1728806179~hmac=f6ffd6d66a84544eacbcdddbe851f0bee3b64bbd5a0fd99c1091847e340804bd&w=740">
        </div>

        <form class="part2" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <h1 class="title">Her Haven Maps <b style="font-size: 3vw; color: gray;">(HHM)</b></h1>
            <input class="input" name="email" type="email" placeholder="Enter email" id="email">
            <input class="input" name="password" type="password" placeholder="Enter password" id="password">
            
            <input class="submit" type="submit" value="Login" id="submit" disabled>
            
            <h1 class="switch">
                <a href="/register" style="text-decoration: none; color: black;">Don't have an account? Register here</a>
            </h1>
        </form>
        
        <script>
            const password = document.getElementById("password");
            const email = document.getElementById("email");
            const submit = document.getElementById("submit");
        
            password.addEventListener("input", validateForm);
            email.addEventListener("input", validateForm);
        
            function validateForm() {
                if (password.value.length >= 1 && email.value.length !== 0) {
                    submit.disabled = false;
                } else {
                    submit.disabled = true;
                }
            }
        
            validateForm();
        </script>        
    </body>
</html>