.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #D4D4D4;
    box-shadow: 0px 5px 25px hsla(0, 0%, 0%, 0.341);
    align-items: center;
    display: flex;
    z-index: 10;
}

.navbar_title {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0;
    font-size: 2.5vw;
    font-family: "Itim";
    font-weight: bold;
    margin-left: 3.5vw;
}

.navbar_country_title {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    padding: 0;
    margin: 0;
    font-size: 1.5vw;
    font-family: "Itim";
    font-weight: bold;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    color: gray;
}

.navbar_profile {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3.5vw;
    width: max-content;
    height: max-content;
}

.navbar_profile_icon {
    position: relative;
    top: 0;
    left: 0;
    width: 2.2vw;
    height: 2.2vw;
    padding: 0;
    margin: 0;
    margin-right: 10px;
}

.navbar_profile_drop_icon {
    position: relative;
    top: 0;
    left: 0;
    width: 1.4vw;
    height: 1.4vw;
    padding: 0;
    margin: 0;
    margin-bottom: 2.5px;
}

.main_part {
    position: fixed;
    top: 100px;
    left: 0px;
    width: 100vw;
    height: calc(100vh - 100px);
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    top: 100px;
    left: 0px;
    width: 100px;
    height: calc(100vh - 120px);
    padding-top: 20px;
    background-color: #CBCBCB;
    box-shadow: 2px 5px 25px rgba(0, 0, 0, 0.256);
    overflow-y: auto;
}

.search {
    position: fixed;
    top: 100px;
    left: 100px;
    width: 300px;
    height: calc(100vh - 120px);
    padding-top: 20px;
    background-color: #E7E7E7;
    box-shadow: 2px 5px 25px rgba(0, 0, 0, 0.256);
    overflow-y: auto;

}

.navigations {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 5px;
}

.navigations_icons {
    position: relative;
    top: 0;
    left: calc((100% - 2.2vw) / 2);
    width: 2.2vw;
    height: 2.2vw;
}

.navigations_text {
    position: relative;
    top: -4px;
    left: 0;
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    font-family: "Itim";
    font-size: 1.3vw;
    font-weight: bold;
}

.search_field {
    position: relative;
    top: 0;
    left: 10%;
    width: 80%;
    height: max-content;
    border: 2px #949494 solid;
    border-radius: 0.6vw;
    background-color: #EFEFEF;
    color: black;
    font-size: 2vw;
    font-family: "Itim";
    font-weight: bold;
    outline: none;
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0;
    margin-top: 10px;
}

.search_tags {
    position: relative;
    left: 10%;
    width: 80%; 
    height: 60px;
    margin-top: 10px;
    
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;

    scrollbar-width: thin;
    -ms-overflow-style: none;
}

.search_tag {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    margin: 0;
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 1vw;
    font-size: 1.5vw;
    font-family: "Itim";
    font-weight: bold;
    background-color: #EFEFEF;
    color: #949494;
    outline: none;
    border: 1px solid #6C6C6C;
    display: inline-block;
    margin-right: 5px;
}

.searched_title {
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    margin: 0;
    padding: 0;
    margin-left: 10%;
    margin-top: 10px;
    font-size: 2vw;
    font-family: "Itim";
    font-weight: bold;
}

.searched_place_div {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.sp_name {
    position: relative;
    top: 4px;
    left: 0;
    width: 55%;
    height: 40px;
    margin: 0;
    padding: 0;
    margin-left: 10%;
    font-size: 1.8vw;
    font-family: "Itim";
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sp_open {
    position: absolute;
    top: 4px;
    right: 0;
    width: 15%;
    margin: 0;
    padding: 7px;
    background-color: lime;
    margin-right: 10%;
    font-size: 1.5vw;
    font-family: "Itim";
    font-weight: bold;
    border-radius: 1.5vw;
    color: white;
}

.sp_close {
    position: absolute;
    top: 4px;
    right: 0;
    width: 15%;
    margin: 0;
    padding: 7px;
    background-color: red;
    margin-right: 10%;
    font-size: 1.5vw;
    font-family: "Itim";
    font-weight: bold;
    border-radius: 1.5vw;
    color: white;
}

.sp_street {
    position: relative;
    top: -8px;
    left: 0;
    width: 80%;
    height: 40px;
    margin: 0;
    padding: 0;
    margin-left: 10%;
    font-size: 1.6vw;
    font-family: "Itim";
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #949494;
}

.sp_line {
    position: relative;
    top: -8px;
    left: 0;
    width: 80%;
    margin-left: 10%;
    border: #6C6C6C 2px solid;
    padding: 0;

}

.map {
    position: fixed;
    left: 400px;
    width: calc(100vw - 400px);
    height: calc(100vh - 100px);
}

.rate_back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #9494949c;
    z-index: 10000;
}

.rating_div {
    display: none;
}

.rate_front {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 50%;
    transform: translate(-50%, -50%);
    background-color: #f3f3f3;
    border-radius: 3vw;
    padding: 2vw;
    z-index: 10001;
}

.rate_title {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 2vw;
    font-family: "Itim";
    font-weight: bold;
    color: black;
}

.rate_div {
    display: flex;
    justify-content: center;
    justify-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    height: max-content;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}

.star_rate {
    position: relative;
    top: 0;
    left: 0;
    width: 4vw;
    height: 4vw;
    margin-right: 10px;
    color: gray;
    cursor: grab;
}

.rate_field {
    position: relative;
    top: 0;
    left: 0;
    width: calc(80% - 40px);
    height: calc(40% - 40px);
    padding: 20px;
    margin-left: 10%;
    resize: none;
    margin-top: 10px;
}

.submit_rate {
    position: absolute;
    bottom: 20px;
    right: calc(9% + 2vw);
    width: max-content;
    height: max-content;
    border-radius: 0;
    background-color: black;
    color: white;
    font-size: 2vw;
    font-family: "Itim";
    font-weight: bold;
    padding: 5px;
}

.reason_div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: max-content;
    background-color: lime;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    z-index: 10000;
}

.reason_text {
    position: relative;
    top: 0;
    left: 5%;
    width: 90%;
    height: max-content;
    font-size: 2vw;
    font-family: "Itim";
    font-weight: bold;
    color: black;
}






/* responsive */
@media screen and (max-width: 1000px) {
    .sp_name {
        position: relative;
        top: 4px;
        left: 0;
        width: 55%;
        height: 40px;
        margin: 0;
        padding: 0;
        margin-left: 10%;
        font-size: 2.8vw;
        font-family: "Itim";
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .sp_open {
        position: absolute;
        top: 4px;
        right: 0;
        width: 15%;
        margin: 0;
        padding: 7px;
        background-color: lime;
        margin-right: 10%;
        font-size: 2.2vw;
        font-family: "Itim";
        font-weight: bold;
        border-radius: 1.5vw;
        color: white;
    }

    .sp_close {
        position: absolute;
        top: 4px;
        right: 0;
        width: 15%;
        margin: 0;
        padding: 7px;
        background-color: red;
        margin-right: 10%;
        font-size: 2.2vw;
        font-family: "Itim";
        font-weight: bold;
        border-radius: 1.5vw;
        color: white;
    }

    .sp_street {
        position: relative;
        top: -8px;
        left: 0;
        width: 80%;
        height: 40px;
        margin: 0;
        padding: 0;
        margin-left: 10%;
        font-size: 2.2vw;
        font-family: "Itim";
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #949494;
    }

    .searched_title {
        position: relative;
        top: 0;
        left: 0;
        width: 80%;
        margin: 0;
        padding: 0;
        margin-left: 10%;
        margin-top: 10px;
        font-size: 3vw;
        font-family: "Itim";
        font-weight: bold;
    }

    .search_tag {
        position: relative;
        top: 0;
        left: 0;
        width: max-content;
        height: max-content;
        margin: 0;
        padding: 0;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 1vw;
        font-size: 3vw;
        font-family: "Itim";
        font-weight: bold;
        background-color: #EFEFEF;
        color: #949494;
        outline: none;
        border: 1px solid #6C6C6C;
        display: inline-block;
        margin-right: 5px;
    }

    .search_field {
        position: relative;
        top: 0;
        left: 10%;
        width: 80%;
        height: max-content;
        border: 2px #949494 solid;
        border-radius: 0.6vw;
        background-color: #EFEFEF;
        color: black;
        font-size: 4vw;
        font-family: "Itim";
        font-weight: bold;
        outline: none;
        padding: 0;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 6px;
        padding-bottom: 6px;
        margin: 0;
        margin-top: 10px;
    }

    .navigations_icons {
        position: relative;
        top: 0;
        left: calc((100% - 5vw) / 2);
        width: 5vw;
        height: 5vw;
    }
    
    .navigations_text {
        position: relative;
        top: -4px;
        left: 0;
        width: 100%;
        height: max-content;
        margin: 0;
        padding: 0;
        text-align: center;
        color: black;
        font-family: "Itim";
        font-size: 2.4vw;
        font-weight: bold;
    }

    .navbar_title {
        position: relative;
        top: 0;
        left: 0;
        width: max-content;
        height: max-content;
        padding: 0;
        margin: 0;
        font-size: 4vw;
        font-family: "Itim";
        font-weight: bold;
        margin-left: 3.5vw;
    }
    
    .navbar_country_title {
        position: relative;
        top: 0;
        left: 0;
        width: max-content;
        height: max-content;
        padding: 0;
        margin: 0;
        font-size: 3vw;
        font-family: "Itim";
        font-weight: bold;
        margin-left: 0.5vw;
        margin-top: 0.5vw;
        color: gray;
    }

    .navbar_profile_icon {
        width: 4vw;
        height: 4vw;
    }

    .navbar_profile_drop_icon {
        width: 3vw;
        height: 3vw;
    }
}

@media screen and (max-width: 720px) {
    .sidebar {
        z-index: 6;
    }
    
    .navbar_title {
        font-size: 6vw;
    }

    .navbar_country_title {
        font-size: 4vw;
    }

    .burgermenu {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: max-content;
    }

    .span {
        position: relative;
        top: 0;
        left: 0;
        width: 60%;
        height: 10px;
        margin-bottom: 3px;
        background-color: black;
        display: inline-block;
        margin-left: 20%;
    }

    .navigations_icons {
        width: 8vw;
        height: 8vw;
        left: calc((100% - 8vw) / 2);
    }

    .navigations_text {
        font-size: 4vw;
    }
    
    .search {
        left: -300px;
        display: none;
        z-index: 5;
    }

    .map {
        width: calc(100% - 100px);
        left: 100px;
    }

    .navbar_profile_icon {
        width: 7vw;
        height: 7vw;
    }

    .navbar_profile_drop_icon {
        width: 5vw;
        height: 5vw;
    }
    
}


/* animations */

@keyframes span1_open {
    0% {
        rotate: 0;
        top: 0;
    }

    100% {
        rotate: 45deg;
        top: 3.5vw;   
    }
}

@keyframes span2_open {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes span3_open {
    0% {
        rotate: 0;
        top: 0;   
    }

    100% {
        rotate: -45deg;
        top: -3.5vw;   
    }
}

@keyframes span1_close {
    0% {
        rotate: 45deg;
        top: 3.5vw;
    }

    100% {
        rotate: 0deg;
        top: 0;   
    }
}

@keyframes span2_close {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes span3_close {
    0% {
        rotate: -45deg;
        top: -3.5vw;  
    }

    100% {
        rotate: 0deg;
        top: 0;   
    }
}

@keyframes bar_open {
    0% {
        left: -300px;
    }

    100% {
        left: 100px;
        display: block;
    }
}

@keyframes bar_close {
    0% {
        left: 100px;
    }

    100% {
        left: -300px;
        display: none;
    }
}

@keyframes open_reason {
    0% {
        top: -100px;
    }

    100% {
        top: 0px;
    }
}

@keyframes close_reason {
    0% {
        top: 0px;
    }

    100% {
        top: -100px;
    }
}





/* scrollbar settings */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}